
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-left:25px">Media</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <img src="~/Assets/Images/media1.png" />
                <div style="font-size:10px;padding:10px;">
                    Format: 1080p <br />
                    Duration: 0:02:30 <br />
                    Edit : 1st Draft <br />
                    Published: Yes
                </div>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="glyphicon glyphicon-trash"></i></li>
                    <li><i class="glyphicon glyphicon-share-alt"></i></li>
                    <li><i class="glyphicon glyphicon-cloud-download"></i></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Tutorial Numero dos </h4>
                Video Name :
                <br />
                Description :
                <br />
                Tags:
            </div>
        </div>
    </div>
    <!--row 2-->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <img src="~/Assets/Images/media2.png" />
                <div style="font-size:10px;padding:10px;">
                    Format: 1080p <br />
                    Duration: 0:34:30 <br />
                    Edit : 1st Draft <br />
                    Published: Yes
                </div>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="glyphicon glyphicon-trash"></i></li>
                    <li><i class="glyphicon glyphicon-share-alt"></i></li>
                    <li><i class="glyphicon glyphicon-cloud-download"></i></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Tutorial numero uno </h4>
                Video Name :
                <br />
                Description :
                <br />
                Tags:
            </div>
        </div>

    </div>
    
</div>
