
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-left:25px">Media</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <img src="~/Assets/Images/media1.png" />
                <div style="font-size:10px;padding:10px;">
                    Format: 1080p <br />
                    Duration: 0:02:30 <br />
                    Edit : 1st Draft <br />
                    Published: Yes
                </div>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="glyphicon glyphicon-trash"></i></li>
                    <li><i class="glyphicon glyphicon-share-alt"></i></li>
                    <li><i class="glyphicon glyphicon-cloud-download"></i></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Tutorial Numero dos </h4>
                Video Name :
                <br />
                Description :
                <br />
                Tags:
            </div>
        </div>
    </div>
    <!--row 2-->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <img src="~/Assets/Images/media2.png" />
                <div style="font-size:10px;padding:10px;">
                    Format: 1080p <br />
                    Duration: 0:34:30 <br />
                    Edit : 1st Draft <br />
                    Published: Yes
                </div>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="glyphicon glyphicon-trash"></i></li>
                    <li><i class="glyphicon glyphicon-share-alt"></i></li>
                    <li><i class="glyphicon glyphicon-cloud-download"></i></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Tutorial numero uno </h4>
                Video Name :
                <br />
                Description :
                <br />
                Tags:
            </div>
        </div>

    </div>

</div>

<div>
    <div class="col-xs-12" style="margin:20px 10px;">
    <div data-toggle="tooltip" data-placement="bottom" title="" onclick="previewSpot(319831, 39);" class="thumb-carousel-number-319831 spotPreviewEvent thumbnail" style="max-width:300px;" data-original-title="View Spot in Popup Player">
        <div class="scrub-cursor" style="margin-left: 211px; display: none;"></div><img spotmediaobjectid="D4AE805D-8245-46B8-9895-A9E53817D00F" class="film-strip-image" src="http://zplex.gq/files/hover-scrub/d4ae805d-8245-46b8-9895-a9e53817d00f_IMAGE_0043.jpg" data-orig="http://zplex.gq/files/hover-scrub/d4ae805d-8245-46b8-9895-a9e53817d00f_IMAGE_0057.jpg" data-thumbcount="61" onerror="replaceOriginalImage($(this))">
        </div>
    </div>
    <div class="col-xs-12"><p>Note: Not designed for use with touch screens. touchScrub(); coming soon!</p>
    </div>
    <div class="preloadedImages" style="display:none;">

    </div>
    <div class="thumbPreviewWindow" style="display:none;"><img src="" alt="Preview window" title="Preview window" />
    </div>
</div>